/* 2-tools.css */

/* Flex center mixin */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Absolute center mixin */
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
